<div *ngIf="model != undefined">
  <p>Syncing: {{model.BlockchainInfo.verificationprogress * 100}}%</p>
  <p>Blocks: {{model.BlockchainInfo.blocks}}</p>
  <p>Headers: {{model.BlockchainInfo.headers}}</p>
  <p>Best block hash: {{model.BlockchainInfo.bestblockhash}}</p>
  <p>Size: {{model.BlockchainInfo.size_on_disk}} bytes</p>

  <p>Version: {{model.NetworkInfo.subversion}}</p>
  <p>Connections: ({{model.NetworkInfo.connections}}) /
    in({{model.NetworkInfo.connections_in}})
    out({{model.NetworkInfo.connections_out}})</p>

  <p>Received: {{model.NetTotals.totalbytesrecv}} bytes</p>
  <p>Sent: {{model.NetTotals.totalbytessent}} bytes</p>
</div>
