
[Application Options]

datadir={{ lnd_data_dir }}
alias={{ lnd_alias }}
debuglevel={{ lnd_log_level }}
listen={{ lnd_listen }}
gc-canceled-invoices-on-startup=true
gc-canceled-invoices-on-the-fly=true


[Bitcoin]

bitcoin.active=true
bitcoin.{{ lnd_network }}=true
bitcoin.node=bitcoind


[Bitcoind]

bitcoind.rpchost={{ lnd_bitcoind_rpc_host }}
bitcoind.rpcuser=yourbtc
bitcoind.rpcpass=yourbtc

bitcoind.zmqpubrawblock=tcp://127.0.0.1:28332
bitcoind.zmqpubrawtx=tcp://127.0.0.1:28333
bitcoind.zmqreaddeadline=10s


[tor]

tor.active={{ lnd_tor_active }}


[watchtower]

watchtower.active={{ lnd_watchtower_active }}
