
[Application Options]

datadir={{ lnd_data_dir }}
alias={{ lnd_alias }}
debuglevel={{ lnd_log_level }}
listen={{ lnd_listen }}
gc-canceled-invoices-on-startup=true
gc-canceled-invoices-on-the-fly=true
tlsextradomain={{ lnd_tls_extra_domain }}


[Bitcoin]

bitcoin.active=true
bitcoin.{{ lnd_network }}=true
bitcoin.node=bitcoind


[Bitcoind]

{% if lnd_bitcoind_local %}
bitcoind.dir={{ lnd_bitcoind_dir }}
bitcoind.config={{ lnd_bitcoind_config }}
{% else %}
bitcoind.rpchost={{ lnd_bitcoind_rpc_host }}
bitcoind.rpcuser={{ lnd_bitcoind_rpc_user }}
bitcoind.rpcpass={{ lnd_bitcoind_rpc_password }}
bitcoind.zmqpubrawblock=tcp://{{ lnd_bitcoind_rpc_host }}:28332
bitcoind.zmqpubrawtx=tcp://{{ lnd_bitcoind_rpc_host }}:28333
bitcoind.zmqreaddeadline=10s
{% endif %}


[tor]

tor.active={{ lnd_tor_active }}
tor.v3={{ lnd_tor_active }}


[watchtower]

watchtower.active={{ lnd_watchtower_active }}
