
[Unit]
Description=Lightning Network Daemon for network {{ lnd_network }}
Documentation=https://github.com/fooock/yourbtc.link

{% if lnd_network == 'mainnet' %}
Wants=bitcoind-main.service
After=bitcoind-main.service
{% else %}
Wants=bitcoind-{{ lnd_network }}.service
After=bitcoind-{{ lnd_network }}.service
{% endif %}

[Service]
ExecStart=/usr/local/lnd-{{ lnd_version }}/lnd -C /etc/lnd/{{ lnd_network }}/lnd.conf
ExecStop=/usr/local/lnd-{{ lnd_version }}/lncli stop

# LND configuration /etc/lnd/{{ lnd_network }}
ConfigurationDirectory=lnd/{{ lnd_network }}
ConfigurationDirectoryMode=0710

User={{ lnd_user }}
Group={{ lnd_group }}

[Install]
WantedBy=multi-user.target
