
[Unit]
Description=Lightning Network Daemon for network {{ lnd_network | capitalize }}
Documentation=https://github.com/fooock/yourbtc.link

{% if lnd_network == 'mainnet' %}
Wants=bitcoind-main.service
After=bitcoind-main.service
{% else %}
Wants=bitcoind-{{ lnd_network }}.service
After=bitcoind-{{ lnd_network }}.service
{% endif %}

[Service]
Type=notify
ExecStart=/usr/local/lnd-v{{ lnd_version }}/lnd -C /etc/lnd/{{ lnd_network }}/lnd.conf --lnddir={{ lnd_data_dir }}
ExecStop=/usr/local/lnd-v{{ lnd_version }}/lncli stop

# LND configuration /etc/lnd/{{ lnd_network }}
ConfigurationDirectory=lnd/{{ lnd_network }}
ConfigurationDirectoryMode=0750

PIDFile=/run/lnd/{{ lnd_network }}/lnd.pid
RuntimeDirectory=lnd/{{ lnd_network }}
RuntimeDirectoryMode=0710

Restart=on-failure
RestartSec=30

User={{ lnd_user }}
Group={{ lnd_group }}

PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
PrivateDevices=true
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
