
pid=/run/bitcoind/{{ bitcoin_network }}/bitcoind.pid
datadir={{ bitcoin_data_dir }}

daemon=1
server=1
txindex=1
chain={{ bitcoin_network }}

rpcuser={{ bitcoin_rpc_user }}
rpcpassword={{ bitcoin_rpc_password }}

zmqpubrawblock=tcp://127.0.0.1:28332
zmqpubrawtx=tcp://127.0.0.1:28333

[{{ bitcoin_network }}]
bind=127.0.0.1
