
pid=/run/bitcoind/{{ bitcoin_network }}/bitcoind.pid
datadir={{ bitcoin_data_dir }}

daemon=1
server=1
txindex=1
chain={{ bitcoin_network }}

zmqpubrawblock=tcp://{{ bitcoin_zmq_host }}:28332
zmqpubrawtx=tcp://{{ bitcoin_zmq_host }}:28333

[{{ bitcoin_network }}]
bind={{ bitcoin_bind }}
rpcbind={{ bitcoin_rpc_bind }}
rpcallowip={{ bitcoin_rpc_allow_ip }}
rpcuser={{ bitcoin_rpc_user }}
rpcpassword={{ bitcoin_rpc_password }}
